@mixin media-specify($width, $height)
    @media screen and (max-width: $width), screen and (max-height: $height)
        @content;
$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize)
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
body
    font-family: sans-serif
    background: #9ebde9
    overflow-x: hidden
.content
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
img
    max-height: 70vh
    max-width: 100%
a
    color: #000
    text-decoration: none
h1
    margin-bottom: 0
    +adaptiv-font(42, 22)
h2
    margin-top: 0
    text-transform: uppercase
    letter-spacing: 10px
    +adaptiv-font(26, 12)
.description
    text-align: center
    color: #eee
    max-width: 300px
    margin: auto
    margin-bottom: 20px
.message
    display: flex
    margin: auto
    justify-content: center
    color: #eee
    padding: 5px
    background: rgba(#000,.1)
    border-radius: 3px
    max-width: 230px